# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

#inga zeug
./obj_inga/
./gateway/obj_inga
./gateway/main.inga
main.inga
Makefile.target

#temporaray files
*~
